# Don't export platform-specific build output
atariUCTPlanner
atariUCTPlanner.o
uct.o
uctPlanner
uctPlanner.o
objectPlanner
objectPlanner.o
tf_util.o
model_test
model_test.o
mcts.o

# Don't upload large library files
libtensorflow_cc.so
libtensorflow_framework.so
