# Don't export platform-specific build output
*.o
atariUCTPlanner
atariPlanner
uctPlanner
objectPlanner
model_test
planner

# Saved frame images
*.png

# Don't upload large library files
libtensorflow_cc.so
libtensorflow_framework.so
tf/
